@import '../../styles/colors/colors.scss';

.tile{
    background: $white;
    border-radius: 10px; 
    display: flex;
    justify-content:center;
    flex-direction:column;
    font-size: 4rem;
    font-weight: 400;
    height: 150px;
    width: 150px;
}

.xWin{
    background: $xBlue;
    color: $white;
}

.oWin{
    background: $oRed;
    color: $white;
}